@import "variables";
@import "layout";
@import "sidebar";
@import "dashboard";
@import "cards";
@import "tables";
@import "reports";
@import "forms";
@import "buttons";

body {
    background:
        radial-gradient(
            circle at top right,
            rgba(124, 58, 237, 0.08),
            transparent 35%
        ),
        radial-gradient(
            circle at bottom left,
            rgba(34, 211, 238, 0.08),
            transparent 35%
        ),
        $bg;

    color: $text;
    font-family: "Inter", sans-serif;
}
